<html>
    <head>
        <style>
            input {
                width: 300px;
                margin-bottom: 5px;
            }

            .save_btn {
                margin-top: 20px;
                font-size: 20px;
                padding: 10px;
                width: 100px;
            }
        </style>
    </head>
    <body>
        <h1>Manhattan Food Delivery</h1>
        <h2>Customer Portal</h2>
        <h3>Sign Up</h3>
        <form method="POST" action="/add_customer">
            <div class="account">
                <p>Please fill up your basic account information</p>
                <h3>Account Info:</h3>
                <label for="s_name">Full Name:</label><br>
                <input type="text" id="s_name" name="s_name"><br>
                <label for="s_email">Email:</label><br>
                <input type="email" id="s_email" name="s_email"><br>
                <label for="s_phone">Phone Number:</label><br>
                <input type="tel" id="s_phone" name="s_phone" pattern="[0-9]{10}">
                <label for="s_pass">Password:</label><br>
                <input type="password" id="s_pass" name="s_pass"><br>
            </div><br>
    
            <div class="address">
                <p>Please enter the address you want your food to be delivered to</p>
                <h3>Address:</h3>
                <label for="number">Number:</label><br>
                <input type="text" id="number" name="number"><br>
                <label for="street">Street:</label><br>
                <input type="text" id="street" name="street"><br>
                <label for="apt">Apartment:</label><br>
                <input type="text" id="apt" name="apt"><br>
                <label for="zip">Zip Code:</label><br>
                <input type="text" id="zip" name="zip"><br>
                <label for="city">City:</label><br>
                <input type="text" id="city" name="city"><br>
                <label for="state">State:</label><br>
                <input type="text" id="state" name="state"><br>
            </div><br>

            <div class="payment">
                <p>Please enter your credit/debit card information</p>
                <h3>Payment Method:</h3>
                <label for="card_num">Card Number:</label><br>
                <input type="text" id="card_num" name="card_num"><br>
                <label for="exp">Expiration Date (mm/dd/yy):</label><br>
                <input type="date" id="exp" name="exp"><br>
                <label for="sec">Security Code:</label><br>
                <input type="text" id="sec" name="sec">
            </div><br>

            <input class="save_btn" type="submit" value="Save">
        </form>
    </body>
</html>
