<html>  
    <head>
    	<style>
            .restaurant_content {
                border: 1px solid grey;
                margin-top: 10px;
                width: 500px;
                padding: 5px;
            }
    	</style>
    </head>
    <body>
        <h1>Manhattan Food Delivery</h1>
        <h2>Customer Portal</h2>

        <h3>Available Restaurants Near Your Area:</h3>
        {% for r in restaurants %}
            <div class="restaurant_content">
                <p><strong>{{r['r_name']}}</strong></p>
                <p>{{r['cuisine']}}</p>
                <p>Rating: {{r['rating']}} / 5</p>
                <form action="/{{cid}}/{{r['rid']}}/menu_order" method="POST">
                    <button type="submit" value="Submit">Browse</button>
                </form>
            </div>
        {% endfor %}
    
    </body>
</html>