<html>
  <head>
    <style>
      .item {
          border: 1px solid grey;
          margin-top: 10px;
          width: 500px;
          padding: 5px;
      }
    </style>

    <script>
      function btn_click() {
        var x = document.getElementsByClassName("hide");
        for (var i = 0; i < x.length; i++) {
          x[i].style.display = "inline-block";
        }
        var y = document.getElementById("start_btn");
        y.style.display = "none";
      }
    </script>
  </head>

  <body>
    <h1>Manhattan Food Delivery</h1>
    <h2>Customer Portal</h2>
    
    <div>
      <h3>{{info['r_name']}}</h3>
      {{info['cuisine']}}<br>
      Rating: {{info['rating']}} / 5<br>
      Phone: {{info['r_phone']}}<br>
      Address: {{info['number']}} {{info['street']}}, New York, NY {{info['zip']}}
    </div><br>

    <button id="start_btn" onclick="btn_click()">Start Order</button>
    
    <form action="/{{cid}}/{{rid}}/submitorder" method="POST">
      <h3> Menu </h3> 
      {% for m in menu %}
        <div class='item'>
          <input type="hidden" id="{{m[0]}}" name="{{m[0]}}" value="{{m[2]}}"> 
	  <label for="{{m[0]}}"><strong>{{m[0]}}</strong><br>
		  {% if m['description'] != "None" %}
		  	{{m['description']}}<br>
		  {% endif %}
		  ${{m[2]}}</label>
          <br><br>
          <label style="display: none;" class="hide" for="{{m[0]}}">Select Quantity:</label>
          <input style="display: none;" class="hide" type="number" id="{{m[0]}}" name="{{m[0]}}" min="0" max="10">
        </div>
      {% endfor %}
      <br></br>
      <button class="hide" style="display: none;" type="submit" value="Submit">Submit Order</button>
    </form>

  </body>
</html>
