<html>
    <head>
        <style>
            input {
                width: 300px;
                margin-bottom: 5px;
            }

            .save_btn {
                margin-top: 20px;
                font-size: 20px;
                padding: 10px;
                width: 100px;
            }

            .error { color: red;}
        </style>
    </head>
    <body>
        <h1>Manhattan Food Delivery</h1>
        <h2>Customer Portal</h2>
        <h3>Sign Up</h3>
        {% if error == 'error' %}<p class='error'>The information you have provided is either invalid or already exists in our records. Please try again.</p>{% endif %}
        <form method="POST" action="/add_customer">
            <div class="account">
                <p>Please fill up your basic account information</p>
                <h3>Account Info:</h3>
                <label for="s_name">Full Name:</label><br>
                <input type="text" id="s_name" name="s_name" placeholder="Firstname Lastname"><br>
                <label for="s_email">Email:</label><br>
                <input type="email" id="s_email" name="s_email"><br>
                <label for="s_phone">Phone Number:</label><br>
                <input type="tel" id="s_phone" name="s_phone" pattern="[0-9]{10}"><br>
                <label for="s_pass">Password:</label><br>
                <input type="password" id="s_pass" name="s_pass">
            </div><br>
    
            <div class="address">
                <p>Please enter the address you want your food to be delivered to</p>
                <h3>Address:</h3>
                <label for="number">Number:</label><br>
                <input type="text" id="number" name="number"><br>
                <label for="street">Street:</label><br>
                <input type="text" id="street" name="street"><br>
                <label for="apt">Apartment:</label><br>
                <input type="text" id="apt" name="apt"><br>
                <label for="zip">Zip Code:</label><br>
                <input type="text" id="zip" name="zip" placeholder="Must be in Manhattan"><br>
                <label for="city">City:</label><br>
                <input type="text" id="city" name="city" placeholder="Must be New York"><br>
                <label for="state">State:</label><br>
                <input type="text" id="state" name="state" placeholder="Must be NY"><br>
            </div><br>

            <div class="payment">
                <p>Please enter your credit/debit card information</p>
                <h3>Payment Method:</h3>
                <label for="card_num">Card Number:</label><br>
                <input type="text" id="card_num" name="card_num" placeholder="16 digits"><br>
                <label for="exp">Expiration Date (mm/dd/yy):</label><br>
                <input type="date" id="exp" name="exp" min="2020-12-01"><br>
                <label for="sec">Security Code:</label><br>
                <input type="text" id="sec" name="sec" placeholder="3 digits">
            </div><br>

            <button type="submit" onclick="btn_click()">Save</button>
        </form>
    </body>
</html>
