<html>
    <body>
        <h1>Manhattan Food Delivery</h1>
        <h2>Customer Portal</h2>
        <div class="login">
            <p>If you are an existing customer,</p>
            <h3>Log In:</h3>
            <form action = "/customer_login" method="POST" >
                <label for="l_email">Email:</label><br>
                <input type="email" id="l_email" name="l_email"><br>
                <label for="l_pass">Password:</label><br>
                <input type="password" id="l_pass" name="l_pass"><br>
                <button type ="Submit">Enter</button>
            </form>
            {% if success == 'False' %}
                <p>The login information you provided does not match our records. Please try again.</p>
            {% endif %}
        </div>
        <br>
        <form action = "/customer_signup/none" method = "GET">
            <label for="signup">Not a customer?</label>
            <button name="signup" type ="Submit">Sign Up</button>
        </form>
    </body>
</html>
