<html>  
    <head>
    	<style>
            .restaurant_content {
                border: 1px solid grey;
                margin-top: 10px;
                width: 500px;
                padding: 5px;
		padding-bottom: 0px;
            }

	    form { height: 14px; }
    	</style>
    </head>
    <body>
        <h1>Manhattan Food Delivery</h1>
        <h2>Customer Portal</h2>

        <h3>Available Restaurants Near Your Area:</h3>
        {% for r in restaurants %}
            <div class="restaurant_content">
                <strong>{{r['r_name']}}</strong><br>
                {{r['cuisine']}}<br>
                Rating: {{r['rating']}} / 5</br>
                <form action="/{{cid}}/{{r['rid']}}/menu_order" method="POST">
                    <button type="submit" value="Submit">Browse</button>
                </form>
            </div>
        {% endfor %}
    
    </body>
</html>
