<html>
    <head>
        <style>
            input {
                width: 300px;
                margin-bottom: 5px;
            }

            .save_btn {
                margin-top: 20px;
                font-size: 20px;
                padding: 10px;
                width: 100px;
            }
            .error { color: red;}
        </style>
    </head>
    <body>
        <h1>Manhattan Food Delivery</h1>
        <h2>Delivery Driver Portal</h2>
        <h3>Sign Up</h3>
        {% if error == 'error' %}<p class='error'>The information you have provided is either invalid or already exists in our records. Please try again.</p>{% endif %}
        <form method="POST" action="/add_driver">
            <div class="account">
                <p>Please fill up your basic information</p>
                <h3>Account Info:</h3>
                <label for="s_name">Full Name:</label><br>
                <input type="text" id="s_name" name="s_name" placeholder="Firstname Lastname"><br>
                <label for="s_email">Email:</label><br>
                <input type="text" id="s_email" name="s_email"><br>
                <label for="s_phone">Phone Number:</label><br>
                <input type="tel" id="s_phone" name="s_phone" pattern="[0-9]{10}"><br>
                <label for="s_pass">Password:</label><br>
                <input type="password" id="s_pass" name="s_pass">
            </div><br>

            <input class="save_btn" type="submit" value="Register">
        </form>
    </body>
</html>