<html>
    <body>
        <h1>Manhattan Food Delivery</h1>
        <h2>Restaurant Portal</h2>
        <div class="login">
            <p>Log in to view your pending orders</p>
            <h3>Log In:</h3>
            <form action = "/restaurant_login" method="POST" >
                <label for="l_phone">Phone Number:</label><br>
		<input type="tel" id="l_phone" name="l_phone" pattern="[0-9]{10}"><br>
                <label for="l_pass">Password:</label><br>
                <input type="password" id="l_pass" name="l_pass"><br>
                <button type ="Submit">Enter</button>
            </form>
            {% if success == 'False' %}
                <p>The login information you provided does not match our records. Please try again.</p>
            {% endif %}
        </div>
        <br>
    </body>
</html>
